/*--------------------- VARIABLES --------*/
:root {
  --fondo-oscuro: #232533;
  --fondo-claro: #f5f7fb;

  --color-primario: #505ef4;
  --color-primario-oscuro: #3041f8;
  --color-secundario: #b1b2c9;
  --color-secundario-oscuro: #888ab7;
  --color-blanco: #ffffff;

  --fuente-primaria: "Lato", sans-serif;
}
/*--------------------- VARIABLES --------*/
/*--------------------- GLOBAL START --------*/
body {
  font-family: var(--fuente-primaria);
  background-color: var(--fondo-oscuro);
  color: var(--color-blanco);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}
/*--------------------- GLOBAL END --------*/

/*--------------------- HEADER START --------*/
header {
  background-image: linear-gradient(to right, #2e0085, #5900ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  padding: 0 20px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo-text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-blanco);
}

header nav {
  height: inherit;
}

header nav ul {
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-left: 30px;
  font-size: 16px;
}
/*--------------------- HEADER END --------*/

/*--------------------- MAIN SECTION --------*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 53px - 30px);
}

.badges {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-container canvas {
  border: 3px solid red;
  border-radius: 10px;
}
/*----------------------------------------------- BTN BADGE --------*/
.contain-btn-badge {
  width: 76px;
  height: 69px;
  border: 6.08px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
  margin: 0 4.5px;
}

.contain-btn-badge:hover {
  transform: scale(1.2);
}

.contain-btn-badge:active {
  transform: scale(1);
}

.contain-btn-badge#arkanoid {
  background-color: #a41717;
  border-color: #e42020;
  box-shadow: 0 3.8px 0 #b81e1e;
}
.contain-btn-badge#kong {
  background-color: #ffb850;
  border-color: #c54e00;
  box-shadow: 0 3.8px 0 #941c00;
}
.contain-btn-badge#pong {
  background-color: #000000;
  border-color: #f6e01c;
  box-shadow: 0 3.8px 0 #c9b818;
}
.contain-btn-badge#pacman {
  background-color: #edd94f;
  border-color: #472c09;
  box-shadow: 0 3.8px 0 #271805;
}
.contain-btn-badge#frogger {
  background-color: #1f3311;
  border-color: #7bca40;
  box-shadow: 0 3.8px 0 #6baf30;
}
.contain-btn-badge#space {
  background-color: #0361ff;
  border-color: #6ba9ff;
  box-shadow: 0 3.8px 0 #5a8fd9;
}
.contain-btn-badge#tetris {
  background-color: #29b8e8;
  border-color: #004d96;
  box-shadow: 0 3.8px 0 #003970;
}
.contain-btn-badge#galaga {
  background-color: #5c0048;
  border-color: #a07099;
  box-shadow: 0 3.8px 0 #835c7e;
}
.contain-btn-badge#centipede {
  background-color: #433b70;
  border-color: #ff6666;
  box-shadow: 0 3.8px 0 #cd3434;
}
/*----------------------------------------------- BTN BADGE --------*/
/*--------------------- MAIN SECTION --------*/

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.imgur.com/rjOSMqe.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 15px;
  margin: 0px 20px;
}

/*--------------------- RUlES SECTION --------*/

.tabs-container {
  padding: 20px;
}

.tabs {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.tabs-item {
  width: 100%;
  height: 10vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #2e3042 !important;
  border-top: 5px solid red;
  -webkit-box-shadow: 0px 9px 7px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 7px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 7px -3px rgba(0, 0, 0, 0.75);
  border-color: #191a24;
  border-radius: 20%;
}

.tabs-item.active {
  border-bottom: 5px solid;
  z-index: 10;
  transform: scale(1.1);
}
/*----------------------------------------------- CHANGES BY ID TO TABS --------*/
.tabs-item#arkanoid {
  border-bottom-color: #e42020;
  background-image: url("https://i.imgur.com/zclQt4C.png");
  background-color: #a41717;
}
.tabs-item#kong {
  border-bottom-color: #c54e00;
  background-image: url("https://i.imgur.com/1igRXn3.png");
  background-color: #ffb850;
}
.tabs-item#pong {
  border-bottom-color: #f6e01c;
  background-image: url("https://i.imgur.com/gkShWGs.png");
  background-color: #000000;
  background-size: 100%;
}
.tabs-item#pacman {
  border-bottom-color: #472c09;
  background-image: url("https://i.imgur.com/KxYEK7Y.png");
  background-color: #edd94f;
}
.tabs-item#frogger {
  border-bottom-color: #7bca40;
  background-image: url("https://i.imgur.com/PL8iIMV.png");
  background-color: #1f3311;
}
.tabs-item#space {
  border-bottom-color: #6ba9ff;
  background-image: url("https://i.imgur.com/LgpzNFn.png");
  background-color: #0361ff;
}
.tabs-item#tetris {
  border-bottom-color: #004d96;
  background-image: url("https://i.imgur.com/t1RbvC0.png");
  background-color: #29b8e8;
}
.tabs-item#galaga {
  border-bottom-color: #a07099;
  background-image: url("https://i.imgur.com/5V3uRbF.png");
  background-color: #5c0048;
}
.tabs-item#centipede {
  border-bottom-color: #ff6666;
  background-image: url("https://i.imgur.com/101qRBj.png");
  background-color: #433b70;
}
/*----------------------------------------------- CHANGES BY ID TO TABS --------*/

.panels-item {
  display: none;
}

.panels-item.active {
  display: block;
}

/*--------------------- RUlES SECTION --------*/

.none {
  display: none;
}
