/*--------------------- VARIABLES --------*/
:root {
  --fondo-oscuro: #232533;
  --fondo-claro: #f5f7fb;

  --color-primario: #505ef4;
  --color-primario-oscuro: #3041f8;
  --color-secundario: #b1b2c9;
  --color-secundario-oscuro: #888ab7;
  --color-blanco: #ffffff;

  --fuente-primaria: "Lato", sans-serif;
}
/*--------------------- VARIABLES --------*/

/*--------------------- GLOBAL START --------*/
body {
  font-family: var(--fuente-primaria);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-blanco);
}

a:hover {
  opacity: 0.7;
}
/*--------------------- GLOBAL END --------*/

/*--------------------- HEADER START --------*/
header {
  background-image: linear-gradient(to right, #2e0085, #5900ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  padding: 0 20px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo-text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-blanco);
}

header nav {
  height: inherit;
}

header nav ul {
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-left: 30px;
  font-size: 16px;
}
/*--------------------- HEADER END --------*/

/*--------------------- MAIN SECTION --------*/

.main {
  background-color: var(--fondo-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 53px);
}

.container-main {
  margin: 10px;
}

.badges {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

canvas {
  border: 3px solid red;
  border-radius: 10px;
}

/*----------------------------------------------- BTN BADGE --------*/
.contain-btn-badge {
  width: 76px;
  height: 69px;
  border: 6.08px solid #f6e01c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  box-sizing: border-box;
  box-shadow: 0 3.8px 0 #c9b818;
  cursor: pointer;
  z-index: 2;
}

.contain-btn-badge:hover {
  transform: scale(1.2);
}

.contain-btn-badge:active {
  transform: scale(1);
}

#frogger {
  background-color: #1f3311;
  border-color: #7bca40;
  box-shadow: 0 3.8px 0 #6baf30;
}
#galaga {
  background-color: #5c0048;
  border-color: #a07099;
  box-shadow: 0 3.8px 0 #835c7e;
}
#arkanoid {
  background-color: #a41717;
  border-color: #e42020;
  box-shadow: 0 3.8px 0 #b81e1e;
}
#kong {
  background-color: #ffb850;
  border-color: #c54e00;
  box-shadow: 0 3.8px 0 #941c00;
}
#pacman {
  background-color: #edd94f;
  border-color: #472c09;
  box-shadow: 0 3.8px 0 #271805;
}
#centipede {
  background-color: #433b70;
  border-color: #ff6666;
  box-shadow: 0 3.8px 0 #cd3434;
}
#space {
  background-color: #0361ff;
  border-color: #6ba9ff;
  box-shadow: 0 3.8px 0 #5a8fd9;
}
#tetris {
  background-color: #29b8e8;
  border-color: #004d96;
  box-shadow: 0 3.8px 0 #003970;
}
/*----------------------------------------------- BTN BADGE --------*/
/*--------------------- MAIN SECTION --------*/
