<! --Who section start -->
<section id="news" class="news-section">
  <app-title title="news"></app-title>
  <div class="news-container">
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/D284HV8.jpg"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          Qomp Explores the World Behind the Pong Paddles
        </h3>
        <p class="news-description">
          The Pong ball is perhaps the original videogame NPC, an unfortunate
          observer in the epic battle between left paddle and right paddle. Now,
          however, it's taking control in Qomp, a story about "the forgotten
          world behind the paddle."
        </p>
        <a
          class="news-url"
          href="https://www.kotaku.co.uk/2020/07/28/qomp-explores-the-world-behind-the-pong-paddles"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/mj1WnQQ.jpg"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          Mumbai Police is using this Space Invaders video game inspired meme to
          send an important health message
        </h3>
        <p class="news-description">
          Trust Mumbai Police to use the perfect blend of pop-culture and
          scientific knowledge to send forth an essential health message.
        </p>
        <a
          class="news-url"
          href="https://www.hindustantimes.com/it-s-viral/mumbai-police-is-using-this-space-invaders-video-game-inspired-meme-to-send-an-important-health-message/story-Bp4bESR4FBwfowgd7GPPLO.html"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/Y68Fedq.jpg"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">Frogger in Toy Town Simple Mode Out Now</h3>
        <p class="news-description">
          Konami has announced that a new ‘Simple Mode’ is now available in the
          Apple Arcade-exclusive title Frogger in Toy Town.
        </p>
        <a
          class="news-url"
          href="https://invisioncommunity.co.uk/frogger-in-toy-town-simple-mode-out-now/"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/8FvGtYn.jpg"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          Namco Museum Archives Vols. 1 & 2 Review: Pac-Man, Galaga, and a Trip
          Through NES History
        </h3>
        <p class="news-description">
          Namco Museum Archives Vols. 1 and 2 are two of the best retro game
          compilations released in recent years. Pac-Man, Galaga, and
          Splatterhouse fans won't want to miss these re-releases.
        </p>
        <a
          class="news-url"
          href="https://www.denofgeek.com/games/namco-museum-archives-review-pac-man-galaga/"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/OQ0aWX8.png"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          Celebrate 40 years of Pac-Man with the Gorillaz
        </h3>
        <p class="news-description">
          Bandai Namco is celebrating Pac-Man’s 40th anniversary with a new
          music video from the Gorillaz.
        </p>
        <a
          class="news-url"
          href="https://www.nag.co.za/2020/07/27/celebrate-40-years-of-pac-man-with-the-gorillaz/"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/uLqyoJB.png"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          ARKANOID CLOCK IS EXACTLY WHAT IT SOUNDS LIKE
        </h3>
        <p class="news-description">
          A clock can be a simple device that keeps you aware of the current
          time, but it can also be so much more. It can express an aesthetic
          ideal from yesteryear, or be a throwback to a popular cultural
          touchstone. It can even be both, in the case of the brilliant
          Arkaclock from [Victor Serrano].
        </p>
        <a
          class="news-url"
          href="https://hackaday.com/2020/02/21/arkanoid-clock-is-exactly-what-it-sounds-like/"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/0f0o1bY.jpg"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          ‘Tetris Effect: Connected’: Will it be worth the Holiday purchase?
        </h3>
        <p class="news-description">
          With all the great games slated for release this holiday alongside the
          next-gen consoles, can Tetris Effect: Connected compete?
        </p>
        <a
          class="news-url"
          href="https://micky.com.au/tetris-effect-connected-will-it-be-worth-the-holiday-purchase/"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/iEETYcP.png"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          Donkey Kong Country leidt de Nintendo Switch Online SNES en NES games
          van juli 2020
        </h3>
        <p class="news-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in diam
          ipsum. Nam a nibh nec leo pretium aliquet. Etiam.
        </p>
        <a
          class="news-url"
          href="https://nl.ign.com/donkey-kong-country/124093/news/donkey-kong-country-leidt-de-nintendo-switch-online-snes-en-nes-games-van-juli-2020"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
    <article class="news">
      <figure class="news-imageContainer">
        <img
          class="news-image"
          src="https://i.imgur.com/z4cVo2p.jpg"
          width="500"
          alt=""
        />
      </figure>
      <div class="news-detail">
        <h3 class="news-title">
          Centipede, Minecraft Among Games Inducted Into World Video Game Hall
          Of Fame
        </h3>
        <p class="news-description">
          The World Video Game Hall of Fame inducted Bejeweled, Centipede,
          King’s Quest and Minecraft in a virtual ceremony Thursday that
          recognized their influence on the industry and the gamers who have
          spent tens of billions of hours playing them.
        </p>
        <a
          class="news-url"
          href="https://www.youtube.com/watch?v=BIS7cWGgJg0"
          target="_blank"
        >
          see more
        </a>
      </div>
    </article>
  </div>
</section>
<! --Who section end -->
