<! --Main section start -->
<section class="main">
  <div class="main-container">
    <div class="badges">
      <div class="contain-btn-badge" id="arkanoid" onclick="changeGame(0);">
        <img
          class="badge"
          src="https://i.imgur.com/zclQt4C.png"
          alt="badge arkanoid"
        />
      </div>
      <div class="contain-btn-badge" id="kong" onclick="changeGame(1);">
        <img
          class="badge"
          src="https://i.imgur.com/1igRXn3.png"
          alt="badge donkey kong"
        />
      </div>
      <div class="contain-btn-badge" id="pong" onclick="changeGame(2);">
        <img
          class="badge"
          src="https://i.imgur.com/gkShWGs.png"
          alt="badge pong"
        />
      </div>
      <div class="contain-btn-badge" id="pacman" onclick="changeGame(3);">
        <img
          class="badge"
          src="https://i.imgur.com/oKJqvYf.png"
          alt="badge pacman"
        />
      </div>
      <div class="contain-btn-badge" id="frogger" onclick="changeGame(4);">
        <img
          class="badge"
          src="https://i.imgur.com/PL8iIMV.png"
          alt="badge frogger"
        />
      </div>
      <div class="contain-btn-badge" id="space" onclick="changeGame(5);">
        <img
          class="badge"
          src="https://i.imgur.com/LgpzNFn.png"
          alt="badge spaceinvaders"
        />
      </div>
      <div class="contain-btn-badge" id="tetris" onclick="changeGame(6);">
        <img
          class="badge"
          src="https://i.imgur.com/t1RbvC0.png"
          width="72.2
            "
          alt="badge tetris"
        />
      </div>
      <div class="contain-btn-badge" id="galaga" onclick="changeGame(7);">
        <img
          class="badge"
          src="https://i.imgur.com/5V3uRbF.png"
          alt="badge galaga"
        />
      </div>
      <div class="contain-btn-badge" id="centipede" onclick="changeGame(8);">
        <img
          class="badge"
          src="https://i.imgur.com/101qRBj.png"
          alt="badge centipede"
        />
      </div>
    </div>
    <img
      src="https://media.giphy.com/media/LmxoljK1BQ3pJH62v4/giphy.gif"
      alt=""
      class="canvas"
      id="gif"
    />
    <img
      src="https://media.giphy.com/media/JrdZsJYv3JGjXAot8F/giphy.gif"
      alt=""
      class="canvas none"
      id="gifError"
    />
    <div class="canvas-container">
      <canvas class="canvas none" width="750" height="375" id="canvas">
      </canvas>
    </div>
  </div>
</section>
<! --Main section end -->
