<! --Main section start -->
<section class="main">
  <div class="main-container">
    <div class="badges">
      <app-button-badge
        [game]="game"
        *ngFor="let game of games"
      ></app-button-badge>
    </div>
    <img
      src="https://media.giphy.com/media/LmxoljK1BQ3pJH62v4/giphy.gif"
      alt=""
      class="canvas"
      id="gif"
    />
    <img
      src="https://media.giphy.com/media/JrdZsJYv3JGjXAot8F/giphy.gif"
      alt=""
      class="canvas none"
      id="gifError"
    />
    <div class="canvas-container">
      <canvas class="canvas none" width="750" height="375" id="canvas">
      </canvas>
    </div>
  </div>
</section>
<! --Main section end -->
