<! --   Footer -->
<footer class="footer">
  <div class="contact">
    <h3>We create something together?</h3>
    <a href="mailto:elonlegan@gmail.com" class="mail-link">Send an email</a>
  </div>
  <div class="social">
    <a
      href="https://twitter.com/elonlegan"
      class="social-link twitter"
      target="_blank"
    ></a>
    <a
      href="https://facebook.com/elonlegan"
      class="social-link facebook"
      target="_blank"
    ></a>
    <a
      href="https://github.com/elonlegan"
      class="social-link github"
      target="_blank"
    ></a>
    <a
      href="https://instagram.com/elonlegan"
      class="social-link instagram"
      target="_blank"
    ></a>
  </div>
</footer>
<! --   Footer -->
