<! --Rules section start -->
<section id="rules" class="rules">
  <h2>rules and instructions</h2>
  <div class="tabs-container">
    <ul class="tabs" id="tabs">
      <app-button-tab [game]="game" *ngFor="let game of games"></app-button-tab>
    </ul>
    <div class="pannels">
      <div class="panels-item active">
        <h2>Arkanoid</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Perspiciatis, molestiae consequatur? Nostrum aut quo
          possimus velit repellat cum molestias veniam voluptatibus aspernatur
          minima, error delectus expedita, molestiae quam quos sunt aperiam,
          dolor omnis harum aliquid necessitatibus. A, quae consequuntur
          molestias quisquam neque nostrum pariatur illo cupiditate sit quidem
          impedit eius laborum sed, voluptates voluptate eligendi blanditiis
          quas nam corrupti officiis. Corrupti amet vel praesentium recusandae
          voluptas vitae debitis, quam quaerat culpa cumque ex quo laboriosam!
          Non omnis cum numquam quis, voluptatum maxime?
        </p>
      </div>
      <div class="panels-item">
        <h2>Donkey Kong</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Nam ipsa, temporibus harum repudiandae voluptate
          mollitia. Maiores nam tempore iste ab error,
        </p>
      </div>
      <div class="panels-item">
        <h2>Pong</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Dignissimos tempore soluta excepturi maiores illum,
          eius, nisi a placeat amet fugit odit rem mollitia iste, perspiciatis
          natus blanditiis. Dolores, nihil? Cumque provident nam natus ea
          perferendis repellat debitis quam exercitationem, quis quae temporibus
          voluptate? In placeat perferendis corrupti distinctio qui facilis
          assumenda ab, mollitia eaque? Adipisci, sit. Error, quas itaque hic
          cupiditate doloremque explicabo incidunt dolor suscipit odio ullam in
          aut quam molestias sit reprehenderit molestiae accusamus corporis
          pariatur quia ducimus doloribus? Dolore
        </p>
      </div>
      <div class="panels-item">
        <h2>Pacman</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda.
        </p>
      </div>
      <div class="panels-item">
        <h2>Frooger</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt assumenda voluptates dicta eius eveniet cum
          et eligendi, ea voluptatem, vitae unde! Ne
        </p>
      </div>
      <div class="panels-item">
        <h2>Space Invaders</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt assumenda voluptates dicta eius eveniet cum
          et eligendi, ea voluptatem, vitae unde! Nemo quas facere fuga possimus
          perferendis blanditiis nihil assumenda.Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt assumenda voluptates dictniti
          magni sapiente, laboriosam impedit voluptates expedita rerum labore
          quod! Aperiam!
        </p>
      </div>
      <div class="panels-item">
        <h2>Tetris</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt assumenda voluptates dicta eius eveniet cum
          et eligendi, ea voluptatem, vitae unde! Nemo quas facere fuga possimus
          perferendis blanditiis nihil assumenda.Lorem ipsum dolor sit amet
          consectetur ad
        </p>
      </div>
      <div class="panels-item">
        <h2>Galaga</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt assumenda voluptates dicta eius eveniet cum
          et eligendi, ea voluptatem, vitae unde! Nemo quas facere fuga possimus
          perferendis blanditiis nihil assumenda.Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt assumenda voluptates dicta eius
          eveniet cum et eligendi, ea voluptatem, vitae unde! Nemo quas facere
          fuga possimus perferendis blanditiis nihil assumenda.Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Deserunt assumenda voluptates
          dicta eius eveniet cum et eligendi, ea voluptatem, vitae unde! Nemo
          quas facere fuga possimus perferendis blanditiis nihil assumenda.
        </p>
      </div>
      <div class="panels-item">
        <h2>Centipede</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          assumenda voluptates dicta eius eveniet cum et eligendi, ea
          voluptatem, vitae unde! Nemo quas facere fuga possimus perferendis
          blanditiis nihil assumenda.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Deserunt assumenda voluptates dicta eius eveniet cum
          et eligendi, ea voluptatem, vitae unde! Nemo quas facere fuga possimus
          perferendis blanditiis nihil assumenda.Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt assumenda voluptates dicta eius
          eveniet cum et eligendi, ea voluptatem, vitae unde! Nemo quas facere
          fuga possimus perferendis blanditiis nihil assumenda.Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Deserunt assumenda voluptates
          dicta eius eveniet cum et eligendi, ea voluptatem, vitae unde! Nemo
          quas facere fuga possimus perferendis blanditiis nihil assumenda.
        </p>
      </div>
    </div>
  </div>
</section>

<! --Rules section  end -->
