.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: repeat-x;
  background-position: center;
  background-size: 15px;
  margin: 0 auto 20px;
  max-width: 1300px;
}
